apiVersion: apps/v1
kind: Deployment
metadata:
  name: time-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: time-service
  template:
    metadata:
      labels:
        app: time-service
    spec:
      containers:
      - name: time
        image: docker.io/vanukurilikhita/time-service:latest
        ports:
        - containerPort: 4002
---
apiVersion: v1
kind: Service
metadata:
  name: time-service
spec:
  selector:
    app: time-service
  ports:
  - port: 4002
    targetPort: 4002
  type: NodePort
